<!doctype html>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    {% if upload["name"] is defined %}
    	<h2>Loaded</h2>
    	<p>Name: {{ upload["name"] }}</p>
    	<p>Content: {{ upload["file"] }}</p>
    	<button id="load" onclick="window.location.href='http://127.0.0.1:5000/load';">
      		yaml.load()
    	</button>
    	<button id="full_load" onclick="window.location.href='http://127.0.0.1:5000/full_load';">
      		yaml.full_load()
    	</button>
    	<button id="safe_load" onclick="window.location.href='http://127.0.0.1:5000/safe_load';">
      		yaml.safe_load()
    	</button>
    	<button id="unsafe_load" onclick="window.location.href='http://127.0.0.1:5000/unsafe_load';">
      		yaml.unsafe_load()
    	</button>
    	<button id="clear" onclick="window.location.href='http://127.0.0.1:5000/clear';">
      		clear()
    	</button>
    	<button id="unload" onclick="window.location.href='http://127.0.0.1:5000/unload';">
      		Unload()
    	</button>
    {% endif %}
    {% if yaml["file"] is defined %}
    	<h1>YAML Loaded</h1>
    	<p>{{ yaml["file"] }}</p>
    {% elif yaml["error"] is defined %}
    	<h1>YAML Error</h1>
    	<p>{{ yaml["error"] }}</p>
    {% endif %}
  </body>
</html>